
.text{
    color: white;
    text-align: center;
}
body{
    background-color: navajowhite;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.navbar{
    color: white;
    justify-content: flex-end;
    padding: 10px 0px;
    align-items: center;
    display: flex;
    background-color: #363636;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    margin: 20px auto;
}
@media(max-width: 768px){
    .navbar{
        justify-content: center;
    }
    .button{
        right: 10%;
        margin: auto;
    }
    h1{
        text-align: center;
        margin: 0 auto;
        right: 50%;
        left: 50%;
    }
}
.button{
    background-color: navajowhite;
    color: #363636;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin: 0px 50px 0px;
    padding: 2px 5px;
    border-radius: 5px;
    padding-left: 3px;
    margin-left: 1000px;
    display: inline-block;
}
    
.button:hover{
    background-color: #363636;
    color: navajowhite;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
    height: 5px;
    font-size: 10px;
    text-align: center;
    width: 60px;
    position: absolute;
    margin: 0 auto;
    background-color: navajowhite;
    border-radius: 5px;
}
.container .price{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
h1{
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 0px;
}
.num{
    display: flex;
    flex-direction: column;
}
.bit{
    color: orange;
    margin: 0 auto;
}
.bitcoin-price{
    color: red;
    margin: 0 auto;
    margin-top: 10px;
    padding: auto;
}